/*--------------------------------------------------------
	PHOTO OVERLAY TRANSITIONS
--------------------------------------------------------*/

.photo-overlay {
	opacity: 0;
	transition: opacity .1s
	border-radius: 10px;
	cursor: pointer;
}

.photo-overlay p {
	width: 100%;
	height: 100%;
	color: #fff;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo img{
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale(1.1);
