.container{
	width: 450px;
	height: 450px;
	backround_color: #faebd7
	border: 2px solid black;
	border-radius: 5%;
	
}

/*------------------------------------------
SELECT ALL SQUARES IN THE ARRAY
-------------------------------------------*/

.container .squares:nth-child(-n+4){
	backround-image: url (https://www.shutterstock.com/image-photo/toy-ball-on-white-background-793098556)
	color: #fff;
	float: left;
	width: 100px;
	height: 5px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 25%;
	cursor: pointer;
	
}	