/*------------------------------------------
SELECT ALL SQUARES IN THE ARRAY
-------------------------------------------*/
.container .squares:nth-child(-n+4){
	backround-image: (whatever for now)
	color: #fff;
	float: left;
	width: 100px;
	margin: 5px;
	border: 1px solid black;
	cursor: pointer;
	transition: transform .5s ease-in-out;
}

/*------------------------------------------
SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
-------------------------------------------*/
.squares:nth-child(-n+4) p{
	font-family: Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5 em
	font-weight: 900;
	text-align: center;
	margin: 0;
	text-shadow: 2px 1px 4px rgba(0, 0, 0.8);
}